<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    *{
      text-align: center;
    }
  </style>
</head>
<body>
<h1>게시글 수정</h1>
<br>
<h3>원래 내용</h3>
<span th:text="${posting.getContent()}"></span>
<img th:each="imageFile : ${posting.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
<br>
<br>

<div class="container">

  <div class="py-5 text-center">
    <h2>포스팅</h2>
  </div>

  <form th:action th:object="${postingForm}" method="post" enctype="multipart/form-data">

    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div>
      <label for="loginId">포스팅 내용</label>
      <input type="text" id="loginId" th:field="*{content}" class="form-control"
             th:errorclass="field-error">
      <li>이미지 파일들<input type="file" multiple="multiple" name="imageFiles" ></li>
      <div class="field-error" th:errors="*{content}" />
    </div>

    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit"
                th:onclick="|location.href='@{/posting/edit/{postingId} (postingId=${posting.getId()})}'|">저장</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/posting}'|"
                type="button">취소</button>
      </div>
    </div>

  </form>

</div>


</body>
</html>