<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    *{
      text-align: center;
    }
  </style>
</head>
<body>
<h1>게시글</h1>
<br>
<div class="col">
  <form th:action="@{/posting}" method="post">
    <button class="w-100 btn btn-dark btn-lg" type="submit">
      홈
    </button>
  </form>
  <form th:action="@{/posting/add}" method="get">
    <button class="w-100 btn btn-dark btn-lg" style="background-color: blueviolet" type="submit">
      게시글 쓰기
    </button>
  </form>
</div>
<br>
<br>
<a th:href="@{/posting/search/postingId}" style="background-color: blue;color: black" role="button">작성자 검색</a>
<a th:href="@{/posting/search/content}" style="background-color: blue;color: black" role="button">게시물 검색</a>
<br>

<h4 class="mb-3" th:text="|${user.name} 님 안녕하세요|">로그인 사용자 이름</h4>
<br>

<br>
<h4 class="mb-3" th:each="post : ${posting}">
  <span th:text="|작성자 : ${post.userId}|"></span>
  <span th:text="${post.content}"></span>
  <span th:text="|${post.time.hour}:${post.time.minute}|"></span>
  <img th:each="imageFile : ${post.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
  <a th:href="@{/posting/edit/{postingId} (postingId=${post.id})}" style="background-color: blue;color: black" role="button">편집</a>
  <br>
</h4>
</body>
</html>