<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        h1,h4,button,label{
            text-align: center;
        }
    </style>
</head>
<body>
<h1 th:text="|${user.getName()} 님 안녕하세요|"></h1>
<br>
<div class="col">
    <form th:action="@{/posting}" method="post">
        <button class="w-100 btn btn-dark btn-lg" type="submit">
            홈
        </button>
    </form>
</div>

<form th:action th:object="${postingForm}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div>
        <label for="loginId">이름으로 검색</label>
        <input type="text" id="loginId" th:field="*{content}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{content}" />
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit"
                    th:onclick="|location.href='@{/posting/search/postingId}'|">이름으로 검색하기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/posting}'|"
                    type="button">취소</button>
        </div>
    </div>

</form>
</body>
</html>