<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    *{
      text-align: center;
    }
  </style>
</head>
<body>
<h1>DM</h1>
<br>
<div class="col">
  <form th:action="@{/directmessage}" method="post">
    <button class="w-100 btn btn-dark btn-lg" type="submit">
      홈
    </button>
  </form>
</div>
<br>
<h4 class="mb-3" th:text="|${user.name} 님 팔로우 리스트|">로그인 사용자 이름</h4>
<br>
<h4 class="mb-3" th:each="f : ${follow}" >
  <span>유저 : </span>
  <span th:text="${f.name}"></span>
  <a th:href="@{/directmessage/{id} (id=${f.id})}" style="background-color: blue;color: black" role="button">DM 보내기</a>
</h4>
</body>
</html>