<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>유저 프로필</h1>
<br>
<div class="col">
    <form th:action="@{/profile}" method="post">
        <button class="w-100 btn btn-dark btn-lg" type="submit">
            홈
        </button>
    </form>
</div>
<br>
<h4 class="mb-3" th:text="|${user.name} 님 프로필|"></h4>
<br>
<h4 class="mb-3" th:text="|ID : ${user.loginId}|"></h4>
<br>
<h4 class="mb-3" th:text="|email : ${user.email}|"></h4>
<br>
<h4 class="mb-3" th:text="|${user.name} 님 게시물|"></h4>
<h4 class="mb-3" th:each="post : ${posting}">
    <span th:text="|작성자 : ${post.user.name}|"></span>
    <span th:text="${post.content}"></span>
    <span th:text="|${post.time.hour}:${post.time.minute}|"></span>
    <img th:each="image : ${post.images}" th:src="|/images/${image.getStoreFileName()}|" width="300" height="300"/>
    <span th:text="|좋아요 : ${post.getLikeNumber()}|"></span>
</h4>
</body>
</html>