<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>유저 프로필</h1>
<br>
<div class="col">
    <form th:action="@{/profile}" method="post">
        <button class="w-100 btn btn-dark btn-lg" type="submit">
            홈
        </button>
    </form>
</div>
<br>
<h4 class="mb-3" th:text="|${user.name} 님 프로필|"></h4>
<br>
<h4 class="mb-3" th:text="|ID : ${user.loginId}|"></h4>
<br>
<h4 class="mb-3" th:text="|email : ${user.email}|"></h4>
<br>
<a th:href="@{/edit}" methods="get" style="background-color: brown;color: black" role="button">회원 정보 수정</a>
<a th:href="@{/drop}" methods="get" style="background-color: darkgreen;color: black" role="button">회원 탈퇴</a>
</body>
</html>