<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    *{
      text-align: center;
    }
  </style>
  <script>
  </script>
</head>
<body>
<h1>
  홈 화면
</h1>
<p>
  <a href = "home">홈</a>
  <a href = "new">게시물 작성/편집</a>
  <a href = "profile">유저 프로필</a>
  <a href = "follow">팔로우 확인</a>
  <a href = "msg">Direct Message</a>
  <a href = "/">로그아웃</a>
</p>
<P>
<form action="/home" method="post">
  <label><input type="radio" name="check" value="writer">작성자 검색</label>
  <label><input type="radio" name="check" value="text">게시물 검색</label>
  <label><input type="radio" name="check" value="hashtag">해시태그 검색</label>
  <input type="text" id="search" name="search">
  <input type="submit" value="검색">
</form>
</P>
</body>
</html>