<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    *{
      text-align: center;
    }
  </style>
</head>
<body>
<h1>팔로우</h1>
<br>
<div class="col">
  <form th:action="@{/follow}" method="post">
    <button class="w-100 btn btn-dark btn-lg" type="submit">
      홈
    </button>
  </form>
</div>
<br>
<h4 class="mb-3" th:text="|${user.name} 님 팔로우 현황|"></h4>
<br>

<h4 class="mb-3" th:text="|팔로우 중인 유저|"></h4>
<h4 class="mb-3" th:each="f : ${follow}" >
    <span th:text="${f}"></span>
    <a th:href="@{/followToUnfollow/{id} (id=${f})}" style="background-color: blue;color: black" role="button">언팔로우</a>
</h4>
<br>
<h4 class="mb-3" th:text="|팔로우 안하는 유저|"></h4>
<h4 class="mb-3" th:each="f : ${unFollow}">
  <span th:text="${f}"></span>
  <a th:href="@{/unfollowToFollow/{id} (id=${f})}" style="background-color: red;color: black" role="button">팔로우</a>
  </form>
</h4>
</body>
</html>